<section class="inicio rounded-2 container-fluid p-0">
    <div class="inicio__contenedor_banner">
        <img [src]="persona.linkImgBanner" class="inicio__banner" alt="foto_banner">
    </div>
    <div class="inicio__informacion border-top border-secondary row w-100 m-0">
        <div class="position-relative">
            <div class="inicio__informacion--perfil">
                <img [src]="persona.linkImgPerfil" alt="foto_perfil" class="rounded-circle foto-perfil">
                <button class="btn btn-outline-secondary inicio__informacion--editar_perfil" routerLink="/editpersona/1"
                    *ngIf="isLogged">
                    <i class="fa fa-pen"></i>
                </button>
            </div>
            <div class="inicio__informacion--descripcion">
                <h3 class="text-center mb-3">{{ persona.nombre + " " + persona.apellido}}</h3>
                <h5 class="mb-3">{{ persona.profesion }}</h5>
                <h5 class="mb-3">{{ persona.ubicacion }}</h5>
                <div class="contenedor-botones">
                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Contacto</button>
                    <button class="btn btn-secondary me-2">Añadir sección</button>
                    <button class="btn btn-secondary me-2">Más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5" id="exampleModalLabel">Contacto</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>Teléfono</h4>
              <p>{{ persona.telefono }}</p>
              <h4>Email</h4>
              <p>{{ persona.email }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
</section>