.contenedor-botones{
    margin: 10px 0;
}

.inicio{
    min-height: 85vh;
    border: none;
}

.inicio__contenedor_banner{
    height: 60vh;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.inicio__banner{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.inicio__informacion{
    min-height: 35%;
    height: fit-content;
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
}

.inicio__informacion--perfil{
    width: 100%;
    position: relative;
    height: 50px;
}

.inicio__informacion--perfil > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    margin-left: calc(50% - 75px);
    bottom: 0;
    object-position: center center;
}

.inicio__informacion--editar_perfil{
    position: absolute;
    top: 5px;
    right: 0px;
}

.inicio__informacion--descripcion{
    height: auto;
}

@media screen and (max-width: 500px){
    .contenedor-botones{
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 60%;
    }
    
    .contenedor-botones button{
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 768px) {
    .inicio{
        height: auto;
    }
}