<section class="acercade container-fluid rounded-2">
    <div class="acercade--titulo position-relative">
        <h3>Acerca de</h3>
        <div id="acercade--editar" class="btn btn-outline-secondary" (click)="mostrarInput(cambiarAcercaDe);">
            <i class="fa fa-pen"></i>
        </div>
    </div>
    <div class="acercade--contenido">
        <p class="acercade--parrafo">{{ dataPortafolio.about }}</p>
    </div>
    <input type="text" name="" #cambiarAcercaDe class="cambiarAcercaDe" (keydown.enter)="guardarValorInput($event)" [hidden]="true" [(ngModel)]="dataPortafolio.about">
</section>
