<section class="proyectos container-fluid rounded-2">
    <div class="position-relative">
        <h2 class="titulo_boton_sumar">Proyectos</h2>
        <button id="" class="btn btn-outline-secondary boton__sumar" routerLink="/nuevoproyecto" *ngIf="isLogged">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>

    <div class="container-fluid p-2">
        <ul>
            <li *ngFor="let itemProject of proyecto; index as i">
                <div class="card pt-2 pb-2 mb-2" #proyecto>
                    <div class="card-body">
                        <div class="position-relative">
                            <h5 class="card-title d-inline-block">{{ itemProject.nombreProyecto }}</h5>
                        </div>
                        <div class="position-relative">
                            <p class="card-text">{{ itemProject.descProyecto }}</p>
                        </div>
                        <div class="position-relative">
                            <a [href]="itemProject.linkProyecto" class="btn btn-primary card-link">Link página</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>