<section class="proyectos container-fluid rounded-2">
    <div class="position-relative">
        <h2 class="titulo_boton_sumar">Proyectos</h2>
        <div id="" class="btn btn-outline-secondary boton__sumar" (click)="sumarProyecto()">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>

    <div class="container-fluid p-2">
        <ul>
            <li *ngFor="let itemProject of listProjects; index as i">
                <div class="card pt-2 pb-2 mb-2" #proyecto>
                    <div class="card-body">
                        <div class="position-relative">
                            <h5 class="card-title d-inline-block">{{ itemProject.name }}</h5>
                        </div>
                        <input type="text" name="" id="" #editarNombre [(ngModel)]=" itemProject.name "  [hidden]="true" (keydown.enter)="ocultarInput(editarNombre)">
                        <div class="position-relative">
                            <p class="card-text">{{ itemProject.description }}</p>
                        </div>
                        <input type="text" name="" id="" #editarDescripcion [(ngModel)]=" itemProject.description " [hidden]="true" (keydown.enter)="ocultarInput(editarDescripcion)">
                        <div class="position-relative">
                            <a [href]=" itemProject.link " class="btn btn-primary card-link">Página Web</a>
                        </div>
                        <input type="text" name="" id="" #editarLink [(ngModel)]=" itemProject.link " [hidden]="true" (keydown.enter)="ocultarInput(editarLink)">
                    </div>
                    <div class="contenedor-editar">
                        <div class="btn btn-outline-secondary boton-editar" (click)="editarInput([editarNombre, editarDescripcion, editarLink], i)">
                            <i class="fa fa-pen"></i>
                        </div>
                        <div class="btn btn-outline-secondary eliminar-proyecto" (click)=" eliminarProyecto(i) ">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>