<header class="sticky-top border-bottom border-secondary">
    <nav class="navbar bg-light p-2">
        <div class="nav justify-content-start">
            <a class="navbar-brand" href="#">
                <img src="" class="d-inline-block align-text-top">
                {{dataPortafolio.name}}
            </a>
        </div>
        <div class="nav justify-content-end">
            <div class="d-flex flex-row me-2">
                <a href="#" class="nav-link p-1 d-flex align-items-center">
                    <i class="fa-brands fa-linkedin iconos-redes"></i>
                </a>
                <a href="#" class="nav-link p-1 d-flex align-items-center">
                    <i class="fa-brands fa-github iconos-redes"></i>
                </a>
                <a href="#" class="nav-link p-1 d-flex align-items-center">
                    <i class="fa-brands fa-instagram iconos-redes"></i>
                </a>
            </div>
            <button class="btn btn-outline-primary" type="button">Login</button>
        </div>
    </nav>
</header>
