header{
    background: transparent;
    position: sticky !important;
}

nav{
    background: rgb(0,114,198);
    display: flex;
    justify-content: space-between;
    flex-wrap: none;
}

.contenedor-logo{
    width: fit-content;
}

.logoap{
    width: 70%;
}

.iconos-redes{
    font-size: 30px;
    color: white;
}

.contenedor-icon{
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown{
    display: none;
}

.dropdown-toggle{
    color: white;
}

@media screen and (max-width: 440px){
    .redes{
        display: none !important;
    }
    
    .dropdown{
        display: block;
    }

    nav{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        height: 10vh;
    }

    .contenedor-redes-login{
        display: flex;
        flex-wrap: nowrap;
    }
}