<header>
    <nav class="navbar p-3">
        <div class="nav contenedor-logo">
            <a href="/portfolio"> 
                <img class="logoap" src="../../../assets/aplogo.png" alt="">
            </a>
        </div>
        <div class="nav contenedor-redes-login">
            <div class="d-flex flex-row me-2 redes">
                <a href="https://www.linkedin.com/in/rom%C3%A1n-martinez-464719263/" target="_blank" class="nav-link p-1 d-flex align-items-center">
                    <i class="fa-brands fa-linkedin iconos-redes"></i>
                </a>
                <a href="https://github.com/ramroman163" target="_blank" class="nav-link p-1 d-flex align-items-center">
                    <i class="fa-brands fa-github iconos-redes"></i>
                </a>
                <a href="https://www.instagram.com/romancheloo18/" target="_blank" class="nav-link p-1 d-flex align-items-center">
                    <i class="fa-brands fa-instagram iconos-redes"></i>
                </a>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Redes</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="https://www.linkedin.com/in/rom%C3%A1n-martinez-464719263/" target="_blank" class="nav-link p-1 d-flex align-items-center">
                            <div class="contenedor-icon">
                                <i class="fa-brands fa-linkedin iconos-redes"></i>
                            </div>
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ramroman163" target="_blank" class="nav-link p-1 d-flex align-items-center">
                            <div class="contenedor-icon">
                                <i class="fa-brands fa-github iconos-redes"></i>
                            </div>
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/romancheloo18/" target="_blank" class="nav-link p-1 d-flex align-items-center">
                            <div class="contenedor-icon">
                                <i class="fa-brands fa-instagram iconos-redes"></i>
                            </div>
                            Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-outline-light" type="button" (click)="login()" *ngIf="!isLogged">Login</button>
            <button class="btn btn-outline-light" type="button" (click)="logout()" *ngIf="isLogged">Logout</button>
        </div>
    </nav>
</header>