.iconos-redes{
    font-size: 30px;
}

::-webkit-scrollbar{
    width: 9px;
    background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb{
    width: 9px;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
}

.cuerpo{
    /* background: rgb(170, 170, 170); */
    background: #242F40;
}

main section {
    min-height: 10vh;
    height: auto;
    background: white;
    border: 1px solid #1C3144;
    padding: 5px 0px;
}

section img{
    margin: 0 auto;
}

.titulo_boton_sumar{
    display: inline-block;
}

.skills__contenedores{
    width: 80%;
    margin: 0 auto !important;
    position: relative;
}

.boton__sumar{
    position: absolute;
    right: 0;
}

.card{
    justify-content: center;
}

.card img{
    object-fit: contain;
}

input {
    padding: 0;
    margin: 0;
    border: 1px solid grey;
}

input:focus{
    border: 1px solid grey;
    outline: none;
}