<section class="experiencia container-fluid rounded-2">
    <div class="position-relative titulo-boton">
        <h2 class="titulo_boton_sumar">Experiencia</h2>
        <button id="" class="btn btn-outline-secondary boton__sumar" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="container-fluid contenedor-cards">
        <ul>
            <li *ngFor="let itemExperiencia of experiencia; index as i">
                <div class="card mb-2 pt-2 pb-2">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex contenedor-img-card">
                            <img [src]="itemExperiencia.linkImg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ itemExperiencia.puestoExp }}</h5>
                                <p class="card-text">{{ itemExperiencia.lugarExp }}</p>
                                <p class="card-text fecha-exp-ed"> <time>{{ itemExperiencia.inicioExp }}</time> -
                                    <time>{{
                                        itemExperiencia.finExp }}</time></p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary boton-editar" routerLink="/editexp/{{itemExperiencia.id}}"
                        *ngIf="isLogged">
                        <i class="fa fa-pen"></i>
                    </button>

                    <button class="btn btn-outline-secondary boton-eliminar" (click)="onDelete(itemExperiencia.id)"
                        *ngIf="isLogged">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="position-relative titulo-boton">
        <h2 class="titulo_boton_sumar">Educacion</h2>
        <button id="" class="btn btn-outline-secondary boton__sumar" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="container-fluid contenedor-cards">
        <ul>
            <li *ngFor="let itemEducacion of educacion; index as j">
                <div class="card mb-2 pt-2 pb-2">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex contenedor-img-card">
                            <img [src]="itemEducacion.linkImg" class="img-fluid rounded-start p-2" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"> {{ itemEducacion.institucionEdu }} </h5>
                                <p class="card-text"> {{ itemEducacion.tituloEdu }}, {{ itemEducacion.carreraEdu }} </p>
                                <p class="card-text fecha-exp-ed"> <time>{{ itemEducacion.inicioEdu }}</time> - <time>{{
                                        itemEducacion.finEdu }}</time> </p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary boton-editar" routerLink="/editedu/{{itemEducacion.id}}"
                        *ngIf="isLogged">
                        <i class="fa fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-secondary boton-eliminar" (click)="onDeleteEdu(itemEducacion.id)"
                        *ngIf="isLogged">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>