.boton-editar{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

ul{
    list-style: none;
}

.contenedor-img-card > img{
    max-width: 150px;
    object-fit: contain;
}

.card{
    /* width: 540px;  */
    width: 50%;
    min-height: 210px;
}

.boton-eliminar{
    position: absolute;
    top: 5px;
    right: 5px;
}

@media screen and (max-width: 1024px){
    .card{
        width: 65%;
    }
}


@media screen and (max-width: 767px){
    .contenedor-cards{
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        width: 95%;
    }

    ul{
        padding-left: 0px;
        width: 100%;
    }

    li{
        width: 100%;
    }

    .card{
        margin-top: 8px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo-boton{
        height: 46px;
    }

    .titulo-boton h2{
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 405px) {
    .card-body{
        padding: 10px;
    }
}
