.editar-educacion{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

ul{
    list-style: none;
}

.edit-img{
    position: absolute;
    bottom: 11px;
    left: 16px;
}

.contenedor-edit{
    position: relative;
    height: 48px;
}

.card{
    max-width: 540px; 
    min-height: 210px;
}

.input-exp-ed{
    padding: 5px;
}

.boton-eliminar-exp-ed{
    position: absolute;
    top: 5px;
    right: 5px;
}


@media screen and (max-width: 767px){
    .contenedor-cards{
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        width: 95%;
    }

    ul{
        padding-left: 0px;
        width: 100%;
    }

    li{
        width: 100%;
    }

    .card{
        margin-top: 8px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo-boton{
        height: 46px;
    }

    .titulo-boton h2{
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 405px) {
    .input-exp-ed{
        width: 100%;
    }

    .card-body{
        padding: 10px;
    }

    .contenedor-edit{
        height: 48px;
    }

    .edit-img{
        position: absolute;
        width: 70%;
        height: 36px;
        top: 5px;
        left: 10px;
    }
}
